.body {
    background-color: rgb(19, 18, 18);
    color: white;
}
.header {
    display: flex;
}
.header__container {
    width: 100%;
    background-color: rgb(78, 78, 78);
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
    border-right: solid 2px orange;
    border-left: solid 2px purple;
    border-top: solid 2px blue;
}
.header__logo {
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.header__logo-image {
    width: 80px;
    height: 80px;
}
.header__logo-text {
    font-size: 56px;
}
.list {
    margin-left: 200px;
    display: flex;
    gap: 25px;
}
.list__item {
    font-size: 24px;
    list-style: none;
}
.github {
    text-align: center;
}
.github__container {
    background-color: rgb(78, 78, 78);
    width: 800px;
    margin-left: 600px;
    margin-top: 80px;
    border-radius: 80px;
    border: solid 2px red;
}
.github__image {
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
}
.github__title {
    font-size: 34px;
    padding-top: 20px;
}
.history {
    margin-top: 80px;
}
.history__container {
    padding-top: 20px;
    background-color: rgb(78, 78, 78);
}
.history__title {
    justify-content: center;
    font-size: 34px;
    text-align: center;
}
.history__main-text {
    width: 700px;
    margin-left: 20px;
    font-size: 24px;
    line-height: 40px;
}
.history__main-image-Cris {
    width: 500px;
    height: 600px;
    border: solid 3px brown;
}
.history__main-image-Tom {
    width: 500px;
    height: 600px;
    border: solid 3px black;
}
.history__main {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.history__main-image {
    gap: 20px;
    display: flex;
}
.this__container {
    margin-top: 80px;
    background-color: rgb(78, 78, 78);
    border-radius: 60px;
    border: solid 2px greenyellow;
}
.this__title {
    text-align: center;
    font-size: 34px;
    padding-top: 40px;
}
.this__main-image {
    height: 400px;
    width: 400px;
    padding: 60px;
}
.this__main-text {
    width: 1200px;
    font-size: 28px;
}
.this__main {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.function__container {
    margin: 80px;
    padding: 40px;
    background-color: rgb(78, 78, 78);
    border-radius: 60px;
}
.function__title {
    text-align: center;
    font-size: 34px;
}
.function__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tab {
    margin-left: 110px;
    text-align: center;
    background-color: grey;
    width: 600px;
    border-radius: 60px;
}
.tab__title {
    font-size: 32px;
}
.tab__text {
    padding: 15px;
    font-size: 24px;
}